<form [formGroup] = "reservationGroup">
    <hr />
    <div style="display:block; width:100%; margin:0 auto;">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-3">
        <label class="control-label col-md-2 form-div-label-font">{{'Name' | translate }}: </label> <span style="color:red;">*</span>
      </div>
      <div class="col-5">
        <input type="text" id="name" class="form-control" formControlName="name" placeholder="{{'Name' | translate }}" required
         />
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                class="alert alert-danger">
        <div *ngIf="name?.hasError('required')">
          {{'Name is required.' | translate }}
        </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-3">
        <label class="control-label col-md-2 form-div-label-font">{{'Email' | translate }}: </label> <span style="color:red;">*</span>
      </div>
      <div class="col-5">
        <input type="email" id="email" class="form-control"  formControlName="email" placeholder="{{'Email' | translate }}" required />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                class="alert alert-danger">
         {{'Please enter a valid email adress!' | translate }}
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-3">
          <label class="control-label col-md-2 form-div-label-font">{{'Room' | translate }}:</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control"  formControlName="roomNumber" placeholder="{{'Room' | translate }}" readonly />
        </div>
        <div class="col-2">
        </div>
      </div>
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-3">
          <label class="control-label col-md-2 form-div-label-font">{{'Beds' | translate }}:</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control"  formControlName="capacity" placeholder="{{'Beds' | translate }}" readonly />
        </div>
        <div class="col-2">
        </div>
      </div>
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-3">
          <label class="control-label col-md-4 form-div-label-font">{{'Start Date' | translate }}:</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control"  formControlName="startDate" placeholder="{{'Start Date' | translate }}" readonly />
        </div>
        <div class="col-2">
        </div>
      </div>
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-3">
          <label class="control-label col-md-4 form-div-label-font">{{'End Date' | translate }}:</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control"  formControlName="endDate" placeholder="{{'End Date' | translate }}"  readonly/>
        </div>
        <div class="col-2">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-1">
          <button type="submit" (click) ="cancelForm()" class="btn btn-secondary">{{'Cancel' | translate }}</button>
        </div>
        <div class="col-2">
          <button type="submit" [disabled]="!reservationGroup.valid" (click)="submitForm()"  class="btn btn-primary">{{'Save' | translate }}</button>
        </div>
      </div>
    </div>
      <hr />
  </form>

  <!--[disabled]="!reservationGroup.valid"-->
