<div class="container-fluid"  style="background-color: beige;border-radius: 10px;">
  <div class="row">
    <div style="padding:5px;text-align: center;color:rgb(126, 126, 31)">
      <h2>{{'Galery of rooms' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="tumbnail-container">
    <div class="col-1-sm" *ngFor="let slide of slides; let row = index"  [ngClass]="selectedSlideIndex === row ? 'selected-slide' : ''">
      <img [src]=slide.picturePaths[0].src  (click)="selectRoom(row)" class="tumbnail cursor"/>
      <div class="alttext-container">
          {{slide.picturePaths[0].altText.toUpperCase()}}
      </div>
    </div>
  </div>
  </div>
<div class="row">
<div  class="carousel">
    <div style="position:relative;" *ngFor="let path of selectedSlide?.picturePaths; let i = index">
      <img
        *ngIf="i === currentSlides[selectedSlideIndex]"
        [src]="path.src"
        [alt]="path.altText"
        class="slide"
        />
        <div class="row" *ngIf="i === currentSlides[selectedSlideIndex]">
          <div class="col-12" style="display:flex;justify-content: center;color:white;background-color: rgb(77, 76, 76);
          height:50px;font-size: 15px;line-height: 50px;border-radius: 5px;">
          {{path.altText}}
        </div>
   </div>
   <a class="prev" (click)="onPreviousClick()">❮</a>
   <a class="next" (click)="onNextClick()">❯</a>
  </div>
</div>
</div>
